<table>
    <tbody>
        <tr>
            <td></td>
            <td data-role="controlgroup" class="single">
                <a href="/control/up" data-icon="arrow-u" data-role="button" data-iconpos="notext">Up</a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td data-role="controlgroup" class="single">
                <a href="/control/left" data-icon="arrow-l" data-role="button" data-iconpos="notext">Left</a>
            </td>
            <td data-role="controlgroup" class="double">
                <a href="/control/select" data-icon="grid" data-role="button">Select</a>
                <a href="/control/menu" data-icon="grid" data-role="button">Menu</a>
            </td>
            <td data-role="controlgroup" class="single">
                <a href="/control/right" data-icon="arrow-r" data-role="button" data-iconpos="notext">Right</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td data-role="controlgroup" class="single">
                <a href="/control/down" data-icon="arrow-d" data-role="button" data-iconpos="notext">Down</a>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<div data-role="controlgroup" data-type="horizontal">
    <a href="/control/chapter_back" data-icon="arrow-l" data-role="button" data-iconpos="left">Chapter</a>
    <a href="/control/skip_back" data-icon="back" data-role="button" data-iconpos="left">30 sec.</a>
    <a href="/control/skip_fwd" data-icon="forward" data-role="button" data-iconpos="right">30 sec.</a>
    <a href="/control/chapter_fwd" data-icon="arrow-r" data-role="button" data-iconpos="right">Chapter</a>
</div>

<div data-role="controlgroup" data-type="horizontal">
    <a href="/control/pause" data-icon="alert" data-role="button">Pause</a>
    <a href="/control/stop" data-icon="alert" data-role="button">Stop</a>
</div>
