<form action="/doSearch" method="get">
    <div data-role="fieldcontain" class="ui-hide-label">
        <label for="search">Search:</label>
        <input type="search" name="search" id="search" value="" />
    </div>
</form>

<div class="results"></div>
